*, html{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif JP', serif;
    background-color: #fff;
}

.nav {
    width: 100%;
    min-height: 12vh;
    max-height: 200px;
    background-color: #de3927;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        display: inline-block;
        padding: 12px;
        letter-spacing: 0.07em;
    }
}

.container-summary{
    padding: 16px 20px;
    margin-bottom: 40px;

    .summary{
        margin: auto;
        max-width: 100%;
        padding: 12px 20px;
        border: 0.12em solid #000;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;

        h3{
            color: #282828;
            text-decoration: 0.1em underline #282828;
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
            font-style: oblique;
            letter-spacing: 0.06em;
        }
    
        a{
            color: #000;
            text-decoration: none;
            font-size: 17px;
            line-height: 2em;
    
            &:hover{
                text-decoration: underline;
                color: #e61d0a;
            }

        }

        .topic-main-one{text-indent: 1.5em;}
        .topic-child-main-one{text-indent: 2.5em;}
        .topic-child-main-two{text-indent: 3.5em;}
        .topic-child-main-three{text-indent: 4.5em;}

        .topic-main-two{text-indent: 1.5em; margin-top: 20px;}

    }
}

.container-git-one{
    padding: 12px 10px;
    max-height: 320vh;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h2{
        text-align: center;
        color: #000;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3{
        text-align: left;
        margin-left: 50px;
        font-size: 25px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p{
        font-size: 18px;
        margin: 12px;
        line-height: 1.7em;
    }

    .container-child-img-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;

        .text{width: 600px;}

        .image{
            max-width: 100%;
            margin: auto;

            img{
                max-width: 100%;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }

    p.link-git{
        a{
            color: #de3927;
            font-weight: 600;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
                color: #ff1822;
            }
        }
    }

}

.git-commands{
    background-color: #414141;
    color: #000;
    margin: 12px 12px 12px 12px;
    padding: 8px 0px 8px 30px;
    max-width: 100%;

    font-size: 15px;
    font-weight: 300;
}

@media only screen and (max-width: 1340px) {
    .container-git-one{

        h3{
            margin: 0;
        }

        .container-child-img-text{
            
            .text{
                width: 100%;
            }
        }
    }
}
