*, html{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif JP', serif;
    background-color: #fff;
}

.nav {
    width: 100%;
    min-height: 12vh;
    max-height: 200px;
    background-color: #de3927;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        display: inline-block;
        padding: 12px;
    }
}

.container-summary{
    padding: 16px 20px;

    .summary{
        margin: auto;
        max-width: 100%;
        padding: 12px 20px;
        border: 0.1em solid #000;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;

        h3{
            color: #282828;
            text-decoration: 0.1em underline #282828;
            margin-bottom: 20px;
            text-align: center;
            font-size: 30px;
            font-weight: bolder;
            font-style: oblique;
        }
    
        a{
            color: #000;
            text-decoration: none;
            font-size: 17px;
    
            &:hover{
                text-decoration: underline;
                color: #e61d0a;
            }

        }
    
        /*.topic-main{
    
        }*/
    
        .topic-child-one{
            text-indent: 2em;
        }
    
        .topic-child-two{
            text-indent: 3.5em;
        }
    
        margin-bottom: 1000px
    }

}